
    body {
        background: linear-gradient(rgba(15, 23, 43, 0.381), rgba(15, 23, 43, .9)), url(../img/bg-hero.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        margin: 400;
        padding: 350;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .login-box {
        background-color: rgba(90, 90, 90, 0.331);
        backdrop-filter: blur(2px);
        width: 380px;
        padding: 35px;
        border-radius: 15px;
        box-shadow: 0 6px 25px rgba(0,0,0,0.2);
        animation: fadeUp 0.7s ease;
    }
    @keyframes fadeUp {
        from {opacity: 0; transform: translateY(20px);}
        to {opacity: 1; transform: translateY(0);}
    }
    h2 {
        text-align: center;
        color: #FEA116;
        margin-bottom: 25px;
    }
    .input-box {
        width: 94%;
        padding: 10px;
        border: 2px solid #e0e0e0;
        border-radius: 10px;
        margin-bottom: 15px;
        outline: none;
        transition: .3s;
    }
    .input-box:focus {
        border-color: #FEA116;
        box-shadow: (#FEA116);
    }
    .btn-login {
        width: 100%;
        padding: 12px;
        border: none;
        background: #FEA116;
        color: white;
        border-radius: 10px;
        cursor: pointer;
        font-size: 16px;
        transition: .3s;
        font-weight: bold;
    }
    .btn-login:hover {
        background: blue
        transform: translateY(-2px);
    }
    .footer-text {
        margin-top: 15px;
        text-align: center;
        font-size: 14px;
    }
    .footer-text a {
        color: #FEA116;
        text-decoration: none;
        font-weight: bold;
    }
